_backup/flow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "data",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -5072,
        2704
      ],
      "id": "c29daada-0d2d-413b-84d5-765e2db58234",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wx3CICOn3hj9AzdJ",
          "name": "Gmail account Hello@amazpen"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// קבלת כל הקבצים המצורפים מהאימייל\nconst attachments = $input.all();\nconst results = [];\n\nfor (const item of attachments) {\n  const binary = item.binary;\n  \n  if (!binary) continue;\n  \n  // עובר על כל הקבצים הבינאריים בפריט\n  for (const key of Object.keys(binary)) {\n    const file = binary[key];\n    const mimeType = file.mimeType || '';\n    const originalName = file.fileName || '';\n    const extension = originalName.split('.').pop()?.toLowerCase() || '';\n    \n    // קביעת סוג הקובץ\n    let fileType = 'other';\n    \n    if (mimeType.includes('pdf') || extension === 'pdf') {\n      fileType = 'pdf';\n    } else if (mimeType.startsWith('image/') || ['jpg', 'jpeg', 'png', 'gif', 'webp', 'bmp', 'svg'].includes(extension)) {\n      fileType = 'image';\n    } else if (mimeType.includes('word') || ['doc', 'docx'].includes(extension)) {\n      fileType = 'word';\n    } else if (mimeType.includes('excel') || mimeType.includes('spreadsheet') || ['xls', 'xlsx', 'csv'].includes(extension)) {\n      fileType = 'excel';\n    } else if (mimeType.includes('text') || ['txt', 'json', 'xml', 'html'].includes(extension)) {\n      fileType = 'text';\n    }\n    \n    results.push({\n      json: {\n        fileType,\n        originalFileName: originalName,\n        mimeType,\n        extension\n      },\n      binary: {\n        data: file  // כל קובץ מקבל את השם \"data\"\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4784,
        2704
      ],
      "id": "451ff942-39f0-424c-b9a2-a25cbcd53c93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4544,
        2704
      ],
      "id": "7d2c1363-b841-400b-9832-757cf212689c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e8a147b2-8306-4563-b11b-3bc169078e01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ab6605a-9082-41c1-982a-a15f141a1083",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa636cc5-4d8f-482a-b796-b34282acc48c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/octet-stream",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "octet-stream"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4320,
        2704
      ],
      "id": "2c5055e2-8c4f-4c8b-a7d4-4777834ef9e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3376,
        1840
      ],
      "id": "913b5672-d12d-4481-8feb-8751ad157206",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84c57201-17d6-41ad-94c2-4490d864b9ec",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "e1d13c74-e756-4770-98ac-518ba2cf2014",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "bb63ab4d-5510-4680-b3c0-d531bfa3a8e5",
              "name": "FileName",
              "value": "={{ $json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "a403b896-398a-4403-9727-a24d384e63d7",
              "name": "fileType",
              "value": "={{ $json.fileType }}",
              "type": "string"
            },
            {
              "id": "ab8e81a2-7d71-4f6c-a731-2e94b38f7dc4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "63db239d-5365-4bc5-bf7a-540c77d0a85d",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "fb90317a-5ffd-4d5b-9281-3dec3e4e1425",
              "name": "רשימת עסקים",
              "value": "={{ $json.markdown }}",
              "type": "string"
            },
            {
              "id": "e6861495-71a0-4f8f-ae8a-5a6e804ff1f0",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        1728
      ],
      "id": "a8f9c48b-f091-4ad7-bc31-dc1ffb903422",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "business",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "________option________",
                "constraint_type": "not equal",
                "value": "עירייה"
              },
              {
                "key": "_______text",
                "constraint_type": "not equal",
                "value": "ריקו ריקו"
              },
              {
                "key": "_______text",
                "constraint_type": "not equal",
                "value": "אנשי התה"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        -2928,
        1616
      ],
      "id": "cbcf0cc1-9a1b-4b6d-9ae3-5cef891cc0f3",
      "name": "רשימת עסקים3",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// קוד זה מיועד ל- Code Node במצב Run Once for All Items\n\nconst items = $input.all();\n\n// צור טקסט Markdown\nlet md = `# רשימת עסקים\\n\\n`;\n\nitems.forEach(item => {\n  const name = item.json[\"שם העסק\"];\n  const id = item.json[\"מזהה עסק\"];\n  md += `- **${name}**\\n  - מזהה: \\`${id}\\`\\n`;\n});\n\n// החזר את הטקסט כפריט אחד\nreturn [\n  {\n    json: {\n      markdown: md\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        1616
      ],
      "id": "5cadf5aa-6b2e-4b6b-a136-3f3d854a6dda",
      "name": "Code11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcbdc3f8-34a0-4235-9a08-22f68fe02c35",
              "name": "שם העסק",
              "value": "={{ $json._______text }}",
              "type": "string"
            },
            {
              "id": "8f1a0d42-c230-4b24-856f-a6e0930bef61",
              "name": "מזהה עסק",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        1616
      ],
      "id": "d6ee7cf5-d71c-4ca9-913d-bd02447ac56a",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://amazpenbiz.co.il/version-test/fileupload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer f450da9bad95645d5c7f25794e1a1f2c"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2480,
        1840
      ],
      "id": "7e58fe53-893f-4e85-9ce8-e47b5965acbc",
      "name": "Upload to Bubble"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b211f3f-f6ca-45d4-8c02-eb9f09b46a67",
              "name": "url",
              "value": "=https:{{ $json.data }}",
              "type": "string"
            },
            {
              "id": "f1c0b21b-9ac6-4449-89ee-70757a617d58",
              "name": "Title",
              "value": "={{ $('Extract from File').item.json.info.Title }}",
              "type": "string"
            },
            {
              "id": "cb49f4c8-9bda-44df-82b9-5d4c3751d06f",
              "name": "originalFileName",
              "value": "={{ $('Switch').item.json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "de0aa28c-456a-40a1-b932-bb609edbdadd",
              "name": "fileType",
              "value": "={{ $('Switch').item.json.fileType }}",
              "type": "string"
            },
            {
              "id": "a04e6495-180f-4d69-8a3f-5f5992494a57",
              "name": "subject",
              "value": "={{ $('Switch').item.json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "583a7627-20d3-43c6-ab00-0a01bfa68dcd",
              "name": "from",
              "value": "={{ $('Switch').item.json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "bf7fb139-b2ea-4946-b717-14132777cbe0",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2256,
        1840
      ],
      "id": "0fcb9ad3-2b1a-42ac-abf4-490119ca9b8b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1952,
        1728
      ],
      "id": "165fac7a-eb71-4d28-a44f-6c29dffa2904",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1664
      ],
      "id": "13f47f04-b83e-4a9d-b941-7e33c2c68e79",
      "name": "OpenAI Chat Model16",
      "credentials": {
        "openAiApi": {
          "id": "ARGBLBvXvIQYSgg1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=from:{{ $json.from }}\nSubject:{{ $json.subject }}\nFilename:{{ $json.FileName }}\nFiletype:{{ $json.fileType }}\nTitle:{{ $json.Title }}\nRaw text:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. רשימת customers: {{ $json['רשימת עסקים'] }}\n\nשים לב מסמכים:\nברגע שבמסמך קיים ע.ב 669 שיווק וסחר בע\"מ הID של העסק יהיה:\n1768995626031x482147481765806100\n\n\nJSON: {\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"The date must start with the day number first, followed by the month and then the year, i.e. like this: yy/mm/yyyy\",\n  \"supplier\": \"\",\n  \"customer\": \"name from the list!\",\n  \"items\": \"\",\n  \"Amount Before VAT\": nubmer,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1072,
        1376
      ],
      "id": "e60c6b37-f2ba-421f-be27-28f327114c0e",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"date in bubble.io format\",\n  \"supplier\": \"\",\n  \"customer\": \"\",\n  \"items\": \"\",\n  \"Amount Before VAT\": 0,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -800,
        1648
      ],
      "id": "d6ceb932-7e30-43a2-bd42-0816382fde9d",
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16400c35-7fa7-48e0-bcf5-242298f7f6c8",
              "name": "output.document_type",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}",
              "type": "string"
            },
            {
              "id": "8590e1f4-9c89-40ff-b93d-f5c9a4f56462",
              "name": "output.document_number",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}",
              "type": "string"
            },
            {
              "id": "d712aa34-98d8-4bef-ab8b-794c89b2bdf1",
              "name": "output.date",
              "value": "={{ (() => { const dateStr = ($json.output && $json.output.date) ? $json.output.date : ''; if (!dateStr || dateStr.indexOf('/') === -1) return ''; const parts = dateStr.split('/'); if (parts.length < 3) return ''; const a = parseInt(parts[0]); const b = parseInt(parts[1]); const y = parts[2]; let m; let d; if (a > 12) { d = a; m = b; } else if (b > 12) { m = a; d = b; } else { d = a; m = b; } const ms = String(m).length < 2 ? '0' + String(m) : String(m); const ds = String(d).length < 2 ? '0' + String(d) : String(d); return ms + '/' + ds + '/' + y; })() }}",
              "type": "string"
            },
            {
              "id": "b26725ab-6de7-4b2e-adeb-a93a41bf1959",
              "name": "output.supplier",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}",
              "type": "string"
            },
            {
              "id": "34444d16-23f8-4801-bb65-8232f7f6de39",
              "name": "output.customer",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}",
              "type": "string"
            },
            {
              "id": "be687a42-cae8-4825-88d4-965138679b13",
              "name": "output.items",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}",
              "type": "string"
            },
            {
              "id": "c434d33d-d794-4fc5-bece-4f181e556676",
              "name": "output['Amount Before VAT']",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "68126b67-ed54-499d-907d-26f4f8979eb4",
              "name": "output['Amount after VAT']",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "d5477604-4965-44cd-9f2e-ccefcb782d58",
              "name": "output.customer_id",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        1376
      ],
      "id": "8688077f-e080-4987-b537-b6ffe685c93e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "invoices",
        "properties": {
          "property": [
            {
              "key": "url_text",
              "value": "={{ $('Edit Fields').item.json.url || '' }}"
            },
            {
              "key": "doc_description_text",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}"
            },
            {
              "key": "document_number_text",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}"
            },
            {
              "key": "date_date",
              "value": "={{ ($json.output && $json.output.date) ? $json.output.date : '' }}"
            },
            {
              "key": "price_after_tax_number",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}"
            },
            {
              "key": "supplier_text",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}"
            },
            {
              "key": "base64_text",
              "value": "={{ $('Edit Fields').item.json.url || '' }}"
            },
            {
              "key": "mimetype_text",
              "value": "pdf"
            },
            {
              "key": "_______________boolean",
              "value": "false"
            },
            {
              "key": "buiness_id_text",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}"
            },
            {
              "key": "description_text",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}"
            },
            {
              "key": "name_text",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}"
            },
            {
              "key": "price_before_tax_number",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        -480,
        1376
      ],
      "id": "2b29715c-fcec-4581-b52e-6b36f3172477",
      "name": "Create an object12",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyD2cs8yuO_9JVNqKUPlF3TyOd1acwPBGpU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{ $json.data }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2912,
        2720
      ],
      "id": "fa0aaa86-3e3c-4d55-81ef-143e82bfebdf",
      "name": "OCR By Google Vision1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://amazpenbiz.co.il/version-test/fileupload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer f450da9bad95645d5c7f25794e1a1f2c"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3344,
        2368
      ],
      "id": "5a6fa851-416d-492d-9cbc-520dd7f9dedc",
      "name": "Upload to Bubble1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "business",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "________option________",
                "constraint_type": "not equal",
                "value": "עירייה"
              },
              {
                "key": "_______text",
                "constraint_type": "not equal",
                "value": "ריקו ריקו"
              },
              {
                "key": "_______text",
                "constraint_type": "not equal",
                "value": "אנשי התה"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        -2400,
        2528
      ],
      "id": "29d4c46e-118d-4b9b-adb2-b4fca72a2f19",
      "name": "רשימת עסקים",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// קוד זה מיועד ל- Code Node במצב Run Once for All Items\n\nconst items = $input.all();\n\n// צור טקסט Markdown\nlet md = `# רשימת עסקים\\n\\n`;\n\nitems.forEach(item => {\n  const name = item.json[\"שם העסק\"];\n  const id = item.json[\"מזהה עסק\"];\n  md += `- **${name}**\\n  - מזהה: \\`${id}\\`\\n`;\n});\n\n// החזר את הטקסט כפריט אחד\nreturn [\n  {\n    json: {\n      markdown: md\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        2528
      ],
      "id": "7cad43d1-5526-49b5-8091-92c23992c1e0",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeb5e8ff-86b0-4be1-a0db-3cd7eca98fe2",
              "name": "markdown",
              "value": "={{ $json.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        2528
      ],
      "id": "610acb4c-b8e6-44cd-bfd5-e013f8a96fc5",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcbdc3f8-34a0-4235-9a08-22f68fe02c35",
              "name": "שם העסק",
              "value": "={{ $json._______text }}",
              "type": "string"
            },
            {
              "id": "8f1a0d42-c230-4b24-856f-a6e0930bef61",
              "name": "מזהה עסק",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        2528
      ],
      "id": "5f292051-78bc-4215-8ac2-6d67bf08793c",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1984,
        2272
      ],
      "id": "80c038f0-e454-4d2c-a24a-0beca371921e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90abc116-b504-433e-9bbb-719a8ba45ade",
              "name": "url",
              "value": "=https:{{ $json.data }}",
              "type": "string"
            },
            {
              "id": "5253916a-27f7-4284-ab0c-29aa3bc37af5",
              "name": "text",
              "value": "={{ $json.responses[0].fullTextAnnotation.text }}",
              "type": "string"
            },
            {
              "id": "89fdaebe-027e-45af-b61f-7c454f2b5836",
              "name": "from",
              "value": "={{ $('Switch').item.json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "ce1ed8ac-72b9-49ab-a21f-5ce564f48b6f",
              "name": "type",
              "value": "={{ $('Code in JavaScript').item.json.fileType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        2256
      ],
      "id": "a78db874-c8f2-4b16-ae46-7360dc47282f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2560,
        2352
      ],
      "id": "21e73154-fd2d-4260-9ab5-f0c843f6d9fd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        2560
      ],
      "id": "4155eb2f-c123-4a82-932f-2ae86d0bde00",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ARGBLBvXvIQYSgg1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From:{{ $json.from }}\nFileName:{{ $('Loop Over Items').item.json.originalFileName }}\nRaw text: \n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. רשימת customers: {{ $json.markdown }}\n\nשים לב מסמכים:\nברגע שבמסמך קיים ע.ב 669 שיווק וסחר בע\"מ הID של העסק יהיה:\n1768995626031x482147481765806100\n\nJSON: {\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"The date must start with the day number first, followed by the month and then the year, i.e. like this: yy/mm/yyyy\",\n  \"supplier\": \"\",\n  \"customer\": \"name from the list!\",\n  \"items\": \"\",\n  \"Amount Before VAT\": nubmer,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1504,
        2288
      ],
      "id": "7989ab74-1553-4dfe-b353-395bd46d4817",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"date in bubble.io format\",\n  \"supplier\": \"\",\n  \"customer\": \"\",\n  \"items\": \"\",\n  \"Amount Before VAT\": 0,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1216,
        2576
      ],
      "id": "199bc106-da90-49d7-a576-10e4ae6f3c5c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16400c35-7fa7-48e0-bcf5-242298f7f6c8",
              "name": "output.document_type",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}",
              "type": "string"
            },
            {
              "id": "8590e1f4-9c89-40ff-b93d-f5c9a4f56462",
              "name": "output.document_number",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}",
              "type": "string"
            },
            {
              "id": "d712aa34-98d8-4bef-ab8b-794c89b2bdf1",
              "name": "output.date",
              "value": "={{ (() => { const dateStr = ($json.output && $json.output.date) ? $json.output.date : ''; if (!dateStr || dateStr.indexOf('/') === -1) return ''; const parts = dateStr.split('/'); if (parts.length < 3) return ''; const a = parseInt(parts[0]); const b = parseInt(parts[1]); const y = parts[2]; let m; let d; if (a > 12) { d = a; m = b; } else if (b > 12) { m = a; d = b; } else { d = a; m = b; } const ms = String(m).length < 2 ? '0' + String(m) : String(m); const ds = String(d).length < 2 ? '0' + String(d) : String(d); return ms + '/' + ds + '/' + y; })() }}",
              "type": "string"
            },
            {
              "id": "b26725ab-6de7-4b2e-adeb-a93a41bf1959",
              "name": "output.supplier",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}",
              "type": "string"
            },
            {
              "id": "34444d16-23f8-4801-bb65-8232f7f6de39",
              "name": "output.customer",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}",
              "type": "string"
            },
            {
              "id": "be687a42-cae8-4825-88d4-965138679b13",
              "name": "output.items",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}",
              "type": "string"
            },
            {
              "id": "c434d33d-d794-4fc5-bece-4f181e556676",
              "name": "output['Amount Before VAT']",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "68126b67-ed54-499d-907d-26f4f8979eb4",
              "name": "output['Amount after VAT']",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "d5477604-4965-44cd-9f2e-ccefcb782d58",
              "name": "output.customer_id",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        2272
      ],
      "id": "79739181-0adc-4f1f-89fa-fc3e4fdccb6b",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "invoices",
        "properties": {
          "property": [
            {
              "key": "url_text",
              "value": "={{ $('Merge1').item.json.url || '' }}"
            },
            {
              "key": "doc_description_text",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}"
            },
            {
              "key": "document_number_text",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}"
            },
            {
              "key": "date_date",
              "value": "={{ ($json.output && $json.output.date) ? $json.output.date : '' }}"
            },
            {
              "key": "price_after_tax_number",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}"
            },
            {
              "key": "supplier_text",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}"
            },
            {
              "key": "base64_text",
              "value": "={{ $('Merge1').item.json.url || '' }}"
            },
            {
              "key": "mimetype_text",
              "value": "={{ ($('Merge1').item.json.type) ? $('Merge1').item.json.type : 'image' }}"
            },
            {
              "key": "_______________boolean",
              "value": "false"
            },
            {
              "key": "buiness_id_text",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}"
            },
            {
              "key": "description_text",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}"
            },
            {
              "key": "name_text",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}"
            },
            {
              "key": "price_before_tax_number",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        -784,
        2272
      ],
      "id": "ab13127c-40df-414b-a955-4a73866ed505",
      "name": "Create an object",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3712,
        2720
      ],
      "id": "b7d88fff-8388-450b-b406-3871ef7b86b3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5637e55d-fda0-4ea6-b42f-0a8cbe7eadde",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1520,
        1728
      ],
      "id": "e9c2b774-a577-4d5b-9859-f0482c0bc723",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1120,
        1920
      ],
      "id": "25b68ee6-b9c4-4fd3-a88a-099e45494e3d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyD2cs8yuO_9JVNqKUPlF3TyOd1acwPBGpU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{ $json.data }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1920
      ],
      "id": "16b4c4de-852e-4b59-b970-4de541d90b04",
      "name": "OCR By Google Vision"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -880,
        1920
      ],
      "id": "44cbc0a7-4ff3-4716-ae3e-59bb2282f216",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        2208
      ],
      "id": "5e6625f7-55c1-4cc8-9f02-ad4613c08052",
      "name": "OpenAI Chat Model17",
      "credentials": {
        "openAiApi": {
          "id": "ARGBLBvXvIQYSgg1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=from:{{ $json.from }}\nSubject: {{ $('Edit Fields').item.json.subject }}\nFilename: {{ $('Edit Fields').item.json.FileName }}\nFiletype: {{ $('Edit Fields').item.json.FileName }}\nTitle: {{ $('Edit Fields').item.json.Title }}\nRaw text:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. רשימת customers: {{ $('Edit Fields').item.json['רשימת עסקים'] }}\n\nJSON: {\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"The date must start with the day number first, followed by the month and then the year, i.e. like this: yy/mm/yyyy\",\n  \"supplier\": \"\",\n  \"customer\": \"name from the list!\",\n  \"items\": \"\",\n  \"Amount Before VAT\": nubmer,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        304,
        1920
      ],
      "id": "dd2b654d-95a8-4a75-8bbd-fc2caa894ab5",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"document_type\": \"\",\n  \"document_number\": \"\",\n  \"date\": \"date in bubble.io format\",\n  \"supplier\": \"\",\n  \"customer\": \"\",\n  \"items\": \"\",\n  \"Amount Before VAT\": 0,\n  \"Amount after VAT\": 0,\n  \"customer_id\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        2192
      ],
      "id": "066d4da0-5620-4aec-9718-d1a027e1fe88",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16400c35-7fa7-48e0-bcf5-242298f7f6c8",
              "name": "output.document_type",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}",
              "type": "string"
            },
            {
              "id": "8590e1f4-9c89-40ff-b93d-f5c9a4f56462",
              "name": "output.document_number",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}",
              "type": "string"
            },
            {
              "id": "d712aa34-98d8-4bef-ab8b-794c89b2bdf1",
              "name": "output.date",
              "value": "={{ (() => { const dateStr = ($json.output && $json.output.date) ? $json.output.date : ''; if (!dateStr || dateStr.indexOf('/') === -1) return ''; const parts = dateStr.split('/'); if (parts.length < 3) return ''; const a = parseInt(parts[0]); const b = parseInt(parts[1]); const y = parts[2]; let m; let d; if (a > 12) { d = a; m = b; } else if (b > 12) { m = a; d = b; } else { d = a; m = b; } const ms = String(m).length < 2 ? '0' + String(m) : String(m); const ds = String(d).length < 2 ? '0' + String(d) : String(d); return ms + '/' + ds + '/' + y; })() }}",
              "type": "string"
            },
            {
              "id": "b26725ab-6de7-4b2e-adeb-a93a41bf1959",
              "name": "output.supplier",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}",
              "type": "string"
            },
            {
              "id": "34444d16-23f8-4801-bb65-8232f7f6de39",
              "name": "output.customer",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}",
              "type": "string"
            },
            {
              "id": "be687a42-cae8-4825-88d4-965138679b13",
              "name": "output.items",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}",
              "type": "string"
            },
            {
              "id": "c434d33d-d794-4fc5-bece-4f181e556676",
              "name": "output['Amount Before VAT']",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "68126b67-ed54-499d-907d-26f4f8979eb4",
              "name": "output['Amount after VAT']",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}",
              "type": "number"
            },
            {
              "id": "d5477604-4965-44cd-9f2e-ccefcb782d58",
              "name": "output.customer_id",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        1920
      ],
      "id": "eb7e7286-82d6-4f79-94bb-b896304462d7",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "invoices",
        "properties": {
          "property": [
            {
              "key": "url_text",
              "value": "={{ $('Edit Fields').item.json.url || '' }}"
            },
            {
              "key": "doc_description_text",
              "value": "={{ ($json.output && $json.output.document_type) ? $json.output.document_type : 'לא זוהה' }}"
            },
            {
              "key": "document_number_text",
              "value": "={{ ($json.output && $json.output.document_number) ? $json.output.document_number : '' }}"
            },
            {
              "key": "date_date",
              "value": "={{ ($json.output && $json.output.date) ? $json.output.date : '' }}"
            },
            {
              "key": "price_after_tax_number",
              "value": "={{ ($json.output && $json.output['Amount after VAT']) ? Number($json.output['Amount after VAT']) : 0 }}"
            },
            {
              "key": "supplier_text",
              "value": "={{ ($json.output && $json.output.supplier) ? $json.output.supplier : '' }}"
            },
            {
              "key": "base64_text",
              "value": "={{ $('Edit Fields').item.json.url || '' }}"
            },
            {
              "key": "mimetype_text",
              "value": "pdf"
            },
            {
              "key": "_______________boolean",
              "value": "false"
            },
            {
              "key": "buiness_id_text",
              "value": "={{ ($json.output && $json.output.customer_id) ? $json.output.customer_id : '' }}"
            },
            {
              "key": "description_text",
              "value": "={{ ($json.output && $json.output.items) ? $json.output.items : '' }}"
            },
            {
              "key": "name_text",
              "value": "={{ ($json.output && $json.output.customer) ? $json.output.customer : '' }}"
            },
            {
              "key": "price_before_tax_number",
              "value": "={{ ($json.output && $json.output['Amount Before VAT']) ? Number($json.output['Amount Before VAT']) : 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        896,
        1920
      ],
      "id": "66749e36-18a5-4c4a-8de6-647cb3d6a903",
      "name": "Create an object13",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ocr-check-1",
              "leftValue": "={{ $json.responses[0].fullTextAnnotation.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        1920
      ],
      "id": "2732d205-de9a-428a-8096-bfacfd9548d6",
      "name": "If OCR Has Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90abc116-b504-433e-9bbb-719a8ba45ade",
              "name": "url",
              "value": "={{ $('Edit Fields').item.json.url }}",
              "type": "string"
            },
            {
              "id": "5253916a-27f7-4284-ab0c-29aa3bc37af5",
              "name": "text",
              "value": "={{ $json.responses[0].fullTextAnnotation.text }}",
              "type": "string"
            },
            {
              "id": "89fdaebe-027e-45af-b61f-7c454f2b5836",
              "name": "from",
              "value": "={{ $('Switch').item.json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "ce1ed8ac-72b9-49ab-a21f-5ce564f48b6f",
              "name": "type",
              "value": "={{ $('Code in JavaScript').item.json.fileType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        1920
      ],
      "id": "a26ba30f-ea15-4a4a-ab9b-75ee87f86b43",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "invoices",
        "properties": {
          "property": [
            {
              "key": "url_text",
              "value": "={{ $('Edit Fields').item.json.url }}"
            },
            {
              "key": "doc_description_text",
              "value": "OCR Failed - Manual Review Required"
            },
            {
              "key": "document_number_text"
            },
            {
              "key": "supplier_text",
              "value": "={{ $('Edit Fields').item.json.FileName }}"
            },
            {
              "key": "base64_text",
              "value": "={{ $('Edit Fields').item.json.url }}"
            },
            {
              "key": "mimetype_text",
              "value": "pdf"
            },
            {
              "key": "_______________boolean",
              "value": "true"
            },
            {
              "key": "description_text",
              "value": "מסמך זה לא ניתן לקריאה אוטומטית - נדרשת בדיקה ידנית"
            },
            {
              "key": "name_text",
              "value": "={{ $('Edit Fields').item.json.subject }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        -48,
        2144
      ],
      "id": "d975584f-2c22-4535-aa93-ba5e37da1e52",
      "name": "Create Fallback Invoice",
      "credentials": {
        "bubbleApi": {
          "id": "n578taTAptMVCFA5",
          "name": "Bubble account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Bubble1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Upload to Bubble",
            "type": "main",
            "index": 0
          },
          {
            "node": "רשימת עסקים3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "רשימת עסקים3": {
      "main": [
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Bubble": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model16": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create an object12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an object12": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR By Google Vision1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Bubble1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "רשימת עסקים": {
      "main": [
        [
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Create an object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an object": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "OCR By Google Vision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR By Google Vision": {
      "main": [
        [
          {
            "node": "If OCR Has Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "OCR By Google Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model17": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Create an object13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an object13": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If OCR Has Text": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Fallback Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Fallback Invoice": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ff51c7b117b2b1acb40d590902906ec640659bab28c38b8f77a79ec2a840b5b4"
  }
}